
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width:100%;
    height:100%;
}

.App{
    width:100%;
    height:100%;
    background-color: black;
    background-image: url('/public/banner-bg.png');
    background-repeat: no-repeat;
    
}

/* start of navbar */
.navbar{
    width:100%;
    height:70px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding:16px 32px;
    position:fixed;
    z-index:1;
    
}

.navbar.active{
    background-color: white;
}

.logo-text{
    width:150px;
    color:white;
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
}

.navbar_logo.active > h1{
    width:150px;
    color:black;
}

.navbar_logo{
    width:30%;
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar_links{
    width: 55%;
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-size: 20px;
}

.navbar_links.active > li>a{
    color:black;
}

.navbar_links.active >a{
    border: 2px solid black;
    color:black;
}

.navbar_links > li >a{
    padding:0 16px;
    cursor:pointer;
    text-decoration: none;
    color:white;
    font-family: 'Montserrat', sans-serif;
}

.navbar_links > li >a:hover{
    color:grey;
}

.navbar_login{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar_login > a{
    padding:0 16px;
    text-decoration: none;
    transition: 0.5s ease;
    color:white;
}

.navbar_login > a:hover{
    color:grey;
}

.navbar_login > div{
    width:1px;
    height:30px;
    background-color: grey;
}

.navbar_smallscreen{
    width:15px;
    display:none;
}

.smallscreen-overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color: black;
    transition:1s ease;
    flex-direction:column ;
}

.overlay-close{
    font-size: 27px;
    color:orange;
    cursor:pointer;
    position:absolute;
    top:20px;
    right:20px;
}

.smallscreen-links{
    list-style-type:none;
    display: flex;
    flex-direction: column;
    margin:150px 0px;
}

.smallscreen-links li{
    padding:32px;
    cursor: pointer;
    color:white;
    font-size: 24px;
    text-align: center;
    
}

.smallscreen-links li:hover{
    color:white;
}

.smallscreen-links li >a{
    margin-left:30px;
    text-decoration: none;
    color:white;
}

.smallscreen-links li >a:hover{
    color:orange;
}

.connect{
    width: 150px;
    padding:10px;
    height: 50px;
    margin-left: 30px;
    margin-right: 60px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}

.connect:hover{
    color:grey;
}

ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

ul > a{
    display:inline-block;
    text-decoration: none;
    color:white;
    font-size: 20px;
}

li{
    margin-right: 20px;
}  

/* End of navbar */

/* Start of banner */

section{
    width: 100%;
    display:flex;
}

.content{
    width:50%;
    height:100%;
    box-sizing: border-box;
    color: white;
    margin:100px 0px;
}

.animation{
    width:50%;
}

.Header-img{
    margin-top: 200px;
    width:58%;
    margin-left: 200px;
}

.Welcome{
    font-weight: 700;
    font-size: 13px;
    width:200px;
    height:50px;
    margin-left: 50px;
    margin-top: 120px;
    padding:10px;
    text-align: center;
    color:white;
    letter-spacing: 0.3px;
    background: linear-gradient(hsl(308, 73%, 35%), hsl(244, 64%, 50%));;
    border:none;
    font-family: 'Montserrat', sans-serif;
}

.content > h2{
    margin-left: 50px;
    margin-top:15px;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
}

.content > p{
    margin-left: 50px;
    margin-top:13px;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 70px;
}

.connect-us{
    width:130px;
    height:40px;
    margin-left:35px;
    font-size: 15px;
    border-radius: 3px;
    color:white;
    background-color: transparent;
    border:none;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.connect-us:hover{
    color:orange;
    cursor: pointer;
}

/* End of banner */

/* Start of skills */
.skills{
    width:80%;
    height: 100%;
    margin:0px auto;
    border-radius:30px;
    background-color: rgb(15, 14, 14);
    height:auto;
    margin-top: 50px;
}

.skills-intro > h2{
    text-align: center;
    font-size: 40px;
    padding:20px 0px;
    color:white;
    font-family: 'Montserrat', sans-serif;
}

.skills-intro > p{
    text-align: center;
    font-size: 15px;
    padding:5px 80px;
    color:rgb(134, 130, 130);
    font-family: 'Montserrat', sans-serif;
}

.progress{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin:15px 0px;
}

.css,.html,.bootstrap,.javascript,.react,.github{
    font-size:60px;
    color:white;
}

.web-dev{
    width:15%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:0px auto;
    margin-top:10px;
    margin-bottom:10px;
    margin-right: calc(10%/6);
}


.web-dev > p{
    color:white;
    text-align: center;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
}

/* End of skills */

/* Start of project */
.container{
    width:100%;
    height:auto;
    background-color: rgb(20, 20, 20);
}

.Project-title > h1{
    text-align: center;
    color:white;
    padding:20px 0px;
    font-family: 'Montserrat', sans-serif;
}

.Project-title > p{
    text-align: center;
    padding:20px 300px;
    color:rgb(134, 130, 130);
    font-family: 'Montserrat', sans-serif;
}

.tabs{
    display: flex;
    flex-direction: column;
    width:100%;

}

.tabs-head{
    width:50%;
    display: flex;
    color: white;
    align-items: center;
    justify-content:space-between;
    background-color: rgb(31, 29, 29);
    border:1px solid white;
    box-shadow: 0px 4px 5px rgba(248, 246, 246, 0.1);
    border-radius: 30px;
    padding:10px 25px;
    margin: 20px auto;
}

.tabs-name{
    font-size: 15px;
    color:white;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.active-tabs{
    background: linear-gradient(hsl(308, 73%, 35%), hsl(244, 64%, 50%));
    transition: 1s ease;
    border-radius: 20px;
    width:400px;
    height:25px;
    cursor: pointer;
}

.tab1,.tab2,.tab3{
    display:none;
}

.tab1.active,.tab2.active,.tab3.active{
    display:block;
}

.active >p{
    font-size: 30px;
    color:white;
    text-align: center;
}

.Projecttab {
    display:flex;
    margin: auto;
    width:100%;
    justify-content: center;
    flex-wrap: wrap;
}

.Projecttab > a{
    display:block;
    margin: auto;
    width:32%;
    height:100%;
    display: flex;
    justify-content: center;
}


.Projecttab > a >.img1{
    width:85%;
    height:80%;
    border-radius: 30px;
    margin: 10px calc(4%/3);
}

.Projecttab > a > .img1:hover{
    width: 100%;
    height:100%;
    cursor: pointer;
}

/* End of project */

/* Start of contact */

.contact{
    display:flex;
    align-items: center;
    width:100%;
    min-height: auto;
    background: linear-gradient(hsl(308, 73%, 35%), hsl(244, 64%, 50%));
    position:absolute;
}


form > h2{
    font-size: 35px;
    margin-bottom: 10px;
    color:white;
    font-family: 'Montserrat', sans-serif;
}

.contact-anim{
    width:50%;
    display:flex;
    justify-content: center;
}

.contact-img{
    width:80%;
}

.contact-form{
    width:50%;
    margin:70px 40px;
}

input[type="text"],input[type="email"],input[type="tel"]{
        width: 100%;
        padding:10px;
        height: 60px;
        margin: 10px 0px;
        border-radius: 5px;
        color: white;
        background-color: transparent;
        border: 1px solid #ffffff;
        font-family: 'Montserrat', sans-serif;
}

::-webkit-input-placeholder{
    color:white;
    font-family: 'Montserrat', sans-serif;
}

textarea {
    min-height: 120px;
    border-radius:10px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
    box-sizing: border-box;
    min-height: 120px;
    padding: 0.625rem;
    resize: vertical;
    background-color: transparent;
    color:white;
    font-family: montserrat;
    border: 1px solid white;
}

.send-btn{
    margin-top: 30px;
    width:100px;
    height:40px;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 150px;
    font-family: 'Montserrat', sans-serif;
}

/* End of contact */

/* Start of subscribe */
.subscribe{
    width:80%;
    height:auto;
    background-color: white;
    margin:10px auto;
    border-radius: 50px;
    display: flex;
    position:relative;
    top:0;
    margin-top:750px;
}

.subscribe-text{
    width:40%;
    font-family: 'Montserrat', sans-serif;
    font-size:30px;
    text-align: center;
    padding:50px 15px;
    font-weight: 700;
    margin-right: auto;
}


.subscribe-btn{
    width:60%;
}

.subscribe-btn > input{
    width:90%;
    height:50px;
    border: 1px solid black;
    margin-top: 70px;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    
    
}

.subscribe-btn > input::-webkit-input-placeholder{
    color:rgb(116, 114, 114);
    padding-left:10px;
}

.submit-btn{
    width:150px;
    height:40px;
    border-radius: 25px;
    background: linear-gradient(hsl(308, 73%, 35%), hsl(244, 64%, 50%));
    color:white;
    font-size: 15px;
    border: none;
    position:absolute;
    top:75px;
    right:70px;
    font-family: 'Montserrat', sans-serif;
}

/* End of subscribe */

/* Start of footer */

.Footer{
    width:100%;
    display:flex;
    flex-direction: row;
}

.footer-logo{
    width:50%;
}

.contact-logo{
    width:50%;
    display: flex;
    justify-content: flex-end;
}

.contact-logo >a{
    cursor: pointer;
    font-size: 25px;
    margin-right:45px;
}

/* End of footer */

@media screen and (max-width:1150px) {
    .navbar_links{
        display:none;
    }

    .navbar_smallscreen{
        display:flex;
        justify-content: center;
        align-items: center;
    }

    .navbar.active{
        display: none;
        
    }

    .web-dev > img{
       width:80%; 
    }

    .submit-btn{
        right:55px;
    }
}


@media screen and (max-width:900px),(max-width:1000px),(max-width:1100px) {
    .App{
        width:100%;
    }

    .navbar.active{
        display: none;
        
    }

    .navbar_logo>h1{
        font-size: 30px;
    }

    .navbar_logo{
        font-size: 10px;
    }

    .content > h2{
        font-size: 30px;
    }

    .Header-img{
        margin-left:100px;
        margin-top:250px;
    }

    .tabs-head{
        width:80%;
    }

    .progress{
        display: flex;
        flex-direction: row;
    }

    .web-dev{
        margin: 0px;
    }

    .web-dev > p{
        font-size: 13px;
        margin-bottom: 12px;
    }
    
    .Project-title > p{
        text-align: center;
        padding:20px 60px;
        color:rgb(134, 130, 130);
    }

    .Projecttab{
        display:flex;
        flex-direction: column;
        margin: auto;
        width:80%;
        justify-content: center;
        
    }
    
    .Projecttab > a{
        width:100%;
        height: 100%;
    }
   
    .subscribe{
        display:flex;
        flex-direction: column;
        text-align: center;
    }

    .subscribe-text{
        width:100%;
        padding:30px 0px;
    }

    .subscribe-text > p{
        padding:0px 20px;
    }

    .subscribe-btn{
        width:100%;
    }

    .subscribe-btn > input {
        margin: 20px 0px;
    }

    .submit-btn {
        position: absolute;
        top: 159px;
        right: 45px;
    }
}

@media screen and (max-width:300px),(max-width:400px),(max-width:500px),(max-width:600px) {  

    .navbar{
        overflow-x: hidden;
    }


    .navbar_smallscreen{
        display:block;
        cursor: pointer; 
        align-items:center ;
    }
    
    .navbar_logo.active{
        display:none;
    }

    .navbar_logo{
        margin:0px;
    }

    .navbar_logo>h1{
        font-size: 20px;
        /* margin-top:25px; */
        padding:0px;
    }

    .navbar.active{
        display: none;
        
    }

    section{
        display:flex;
        flex-direction: column;
    }

    .content {
        width: 100%;
        box-sizing: border-box;
    }

    .content > h2 {
        margin: 20px;
        font-size: 25px;
    }

    .content > p {
        margin: 20px;
    }

    .Welcome {
        margin: 20px;
    }

    .connect-us {
        margin:0px 5px;
    }

    .animation {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .skills {
        width: 90%;
    }

    .skills-intro > p {
        padding: 10px 30px;
    }

    .Header-img {
        margin-top: 0px;
        width: 70%;
        margin-left:0px;
    }

    .progress{
        width:100%;
        display:flex;
        flex-direction: row;
    }

    .web-dev{
        width:28%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: calc(16%/3);
    }

    .web-dev > p{
        font-size: 10px;
    }

    .css,.html,.bootstrap,.javascript,.react,.github{
        font-size:30px;
    }

    .tabs-head {
        width: 90%;
    }

    .tabs-name {
        font-size: 10px;
    }

    .active-tabs{
        width:200px;
    }

    .tabs-body {
        width: 100%;
    }

    .active-tabs{
        height:15px;
    }

    .Projecttab {
        width: 100%;
        align-items: center;
    }

    .Projecttab > a{
        width:100%;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    .contact-anim {
        width: 100%;
        text-align: center;
    }

    .contact-img {
        width:70%;
        padding-top: 80px;
    }

    .contact-form {
        width: 80%;
        margin: 30px;
    }

    .subscribe {
        margin-top: 1000px;
    }

    .subscribe-text {
        font-size: 20px;
    }

    .submit-btn{
        position:inherit;
        margin-bottom: 10px;
    }

    .footer-logo >h1{
        font-size: 22px;
    }
}

@media screen and (max-width:280px) {

    .navbar{
        padding-left:20px;
    }

    .navbar_logo>h1{
        font-size: 15px;
    }

   

    .progress{
        display: flex;
        flex-direction: row;
    }

    .css,.html,.bootstrap,.javascript,.react,.github{
        font-size:25px;
    }

    .Project-title>p{
        font-size: 15px;
        padding:0px 20px;
    }

    .contact-img{
        width:60%;
    }

    .footer-logo >h1{
        font-size: 15px;
    }
}



