
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width:100%;
    height:100%;
}

.App{
    width:100%;
    height:100%;
    background-color: black;
    background-image: url('/public/banner-bg.png');
    
}

.Navbar{
    width:100%;
    height: 80px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    align-items: center;
}


.Logo{
    width:40%;
    color:white;
    /* margin-right: auto; */
    margin-left: 50px;
}

.nav{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.social-icon {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.icon{
    margin: 0 10px;
    /* height: 20px; */
    /* width: 20px; */
    /* border-radius: 50%; */
    /* background-color: red; */
}


.connect{
    width: 150px;
    padding:10px;
    height: 50px;
    margin-left: 30px;
    margin-right: 60px;
    cursor: pointer;
    background-color: transparent;
    border: 2px solid white;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}

ul{
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    list-style: none;
    
}

ul > a{
    display:inline-block;
    text-decoration: none;
    color:white;
    font-size: 20px;
}

li{
    margin-right: 20px;
}  

/* Start of navbar styling */

.navbar{
    /* width:100%; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding:16px 32px;
    
}

.navbar_logo{
    display:flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar_logo > img{
    width:150px;
}

.navbar_links{
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-size: 20px;
    /* font-family: 'open sans'; */
}

.navbar_links > li >a{
    padding:0 16px;
    cursor:pointer;
    text-decoration: none;
    color:white;
}

.navbar_links > li >a:hover{
    color:grey;
}

.navbar_login{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.navbar_login > a{
    padding:0 16px;
    text-decoration: none;
    transition: 0.5s ease;
    color:white;
}

.navbar_login > a:hover{
    color:grey;
}

.navbar_login > div{
    width:1px;
    height:30px;
    background-color: grey;
}

.navbar_smallscreen{
    display:none;
}

.smallscreen-overlay{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    background-color: black;
    transition:1s ease;
    flex-direction:column ;
    /* overflow: hidden; */
}

.overlay-close{
    font-size: 27px;
    color:orange;
    cursor:pointer;
    position:absolute;
    top:20px;
    right:20px;
}

.smallscreen-links{
    list-style-type:none;
    display: flex;
    flex-direction: column;
    margin:150px 0px;
}

.smallscreen-links li{
    padding:32px;
    cursor: pointer;
    color:white;
    font-size: 24px;
    text-align: center;
    
}

.smallscreen-links li:hover{
    color:white;
}

.smallscreen-links li >a{
    margin-left:30px;
    text-decoration: none;
    color:white;
}

.smallscreen-links li >a:hover{
    /* text-decoration: none; */
    color:orange;
}


@media screen and (max-width:1150px) {
    .navbar_links{
        display:none;
    }

    .navbar_smallscreen{
        display:flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:400px){

    .navbar_login{
        display: none;
    }

    .navbar_smallscreen{
        display:block;
        cursor: pointer; 
        align-items:center ;
    }

    /* .hamburger{
        display: flex;
        justify-content: center;
        align-items: center;
    } */


    .navbar_logo > img{
        width:110px;
    }
}

@media screen and (max-width:414px) {
    .navbar{
        overflow-x: hidden;
    }

    .navbar_login > a {
        padding: 0 4px;
        font-size: 12px;
    }

    .navbar_logo > img {
        width: 100px;
    }


    
}
/* End of navbar styling */


section{
    width: 100%;
    display:flex;
}

.content{
    width:65%;
    height:100%;
    box-sizing: border-box;
    color: white;
}

.animation{
    width:35%;
}

.Header-img{
    margin-top: 120px;
    width:80%;
    margin-left: 50px;
}

.Welcome{
    font-weight: 700;
    font-size: 15px;
    width:200px;
    height:50px;
    margin-left: 50px;
    margin-top: 120px;
    padding:10px;
    text-align: center;
    color:white;
    background: linear-gradient(hsl(308, 73%, 35%), hsl(244, 64%, 50%));;
    border:none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content > h2{
    margin-left: 50px;
    margin-top:15px;
    font-size: 60px;
}

.content > p{
    margin-left: 50px;
    margin-top:13px;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 70px;
}

.connect-us{
    width:130px;
    height:40px;
    margin-left:35px;
    font-size: 15px;
    border-radius: 3px;
    color:white;
    background-color: transparent;
    border:none;
    /* margin-top: 100px; */
    font-weight: 700;
}

.connect-us:hover{
    color:orange;
}


.skills{
    width:80%;
    margin:0px auto;
    border-radius:30px;
    background-color: rgb(15, 14, 14);
    height:auto;
    margin-top: 50px;
}

.skills-intro > h2{
    text-align: center;
    font-size: 40px;
    padding:25px 0px;
    color:white;
}

.skills-intro > p{
    text-align: center;
    font-size: 15px;
    padding:10px 80px;
    color:rgb(134, 130, 130);
    
}

.progress{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    /* background-color: aqua; */
}

.web-dev{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-right: 55px;
}


.web-dev > p{
    color:white;
    text-align: center;
    margin-bottom: 25px;
}

.outer{
    height:160px;
    width:160px;
    border-radius:50%;
    /* box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(225,225,225,0.7); */
    /* border:1px solid white; */
    padding:20px;
}

.inner{
    height:120px;
    width:120px;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:1px solid white; */
    /* box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(225,225,225,0.7),
                -0.5px -0.5px 0px rgba(225,225,225,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05); */
}

#number{
    font-weight:700;
    color:white;
    justify-content: center;
}

circle{
    fill:none;
    stroke:url(#GradientColor);
    stroke-width:20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}

svg{
    position: absolute;
}

.web{
    color:white;
    text-align: center;
    padding: 15px;
}

.Graphic{
    color:white;
    text-align: center;
    padding: 15px;
}

@keyframes anim{
    100%{
        stroke-dashoffset: 100;
    }
}

.container{
    width:100%;
    height:auto;
    background-color: rgb(20, 20, 20);
}

.Project-title > h1{
    text-align: center;
    color:white;
    padding:20px 0px;
}

.Project-title > p{
    text-align: center;
    padding:20px 300px;
    color:rgb(134, 130, 130);
}

.tabs{
    display: flex;
    flex-direction: column;
    width:100%;

}

.tabs-head{
    width:50%;
    display: flex;
    color: white;
    align-items: center;
    justify-content:space-between;
    background-color: rgb(31, 29, 29);
    border:1px solid white;
    box-shadow: 0px 4px 5px rgba(248, 246, 246, 0.1);
    border-radius: 30px;
    padding:10px 25px;
    margin: 20px auto;
}

.tabs-name{
    font-size: 20px;
    color:white;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
}

.tabs-title{
    font-weight: 600;
    font-size:24px;
    color:aqua;
    margin-bottom: 20px;
    align-items: center;
}


.tabs-content{
    display: none;
}

.active-tabs{
    background: linear-gradient(hsl(308, 73%, 35%), hsl(244, 64%, 50%));
    transition: 1s ease;
    border-radius: 20px;
    width:400px;
    cursor: pointer;
}

.tab1,.tab2,.tab3{
    display:none;
}

.tab1.active,.tab2.active,.tab3.active{
    display:block;
}

.active >p{
    font-size: 30px;
    color:white;
    text-align: center;
}

.Projecttab {
    display:flex;
    margin: auto;
    width:100%;
    justify-content: center;
    flex-wrap: wrap;
}

.Projecttab > a{
    display:block;
    margin: auto;
    width:32%;
    height:100%;
    display: flex;
    justify-content: center;
}


.Projecttab > a >.img1{
    width:85%;
    height:80%;
    border-radius: 30px;
    margin: 10px calc(4%/3);
}

.Projecttab > a > .img1:hover{
    width: 100%;
    height:100%;
    cursor: pointer;
}

/* .overlay{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0;
    transition:opacity 0.4s ease-in-out;
    background:black;
    cursor:pointer;
}



.contain:hover .overlay{
    opacity:0.8;
} */

.contact{
    display:flex;
    align-items: center;
    width:100%;
    min-height: auto;
    background: linear-gradient(hsl(308, 73%, 35%), hsl(244, 64%, 50%));
    position:absolute;
}


form > h2{
    font-size: 35px;
    margin-bottom: 10px;
    color:white;
}

.contact-anim{
    width:50%;
}

.contact-img{
    width:80%;
}

.contact-form{
    width:50%;
    margin:70px 40px;
}

input[type="text"],input[type="email"],input[type="tel"]{
        width: 100%;
        padding:10px;
        height: 60px;
        margin: 10px 0px;
        border-radius: 5px;
        color: white;
        background-color: transparent;
        border: 1px solid #ffffff;
}

::-webkit-input-placeholder{
    color:white;
    font-family: montserrat;
}

textarea {
    min-height: 120px;
    border-radius:10px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
    box-sizing: border-box;
    min-height: 120px;
    padding: 0.625rem;
    resize: vertical;
    background-color: transparent;
    color:white;
    font-family: montserrat;
    border: 1px solid white;
}

.send-btn{
    margin-top: 30px;
    width:100px;
    height:40px;
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 150px;
}

.subscribe{
    width:80%;
    height:auto;
    background-color: white;
    margin:10px auto;
    border-radius: 50px;
    display: flex;
    position:relative;
    top:0;
    margin-top:750px;
}

.subscribe-text{
    width:40%;
    font-family: montserrat;
    font-size:30px;
    text-align: center;
    /* padding-left:15px; */
    padding:50px 15px;
    font-weight: 700;
    margin-right: auto;
}


.subscribe-btn{
    width:60%;
    /* padding: 0px 20px; */
    /* margin-right: auto; */
    
}

.subscribe-btn > input{
    width:90%;
    height:50px;
    border: 1px solid black;
    margin-top: 70px;
    border-radius: 25px;
    
    
}

.subscribe-btn > input::-webkit-input-placeholder{
    color:rgb(116, 114, 114);
    padding-left:10px;
}

.submit-btn{
    width:150px;
    height:40px;
    border-radius: 25px;
    background: linear-gradient(hsl(308, 73%, 35%), hsl(244, 64%, 50%));
    color:white;
    font-size: 15px;
    border: none;
    position:absolute;
    top:75px;
    right:80px;
}

.Footer{
    width:100%;
    display:flex;
}

.footer-icons{
    margin-right: 150px;
    margin-top: 50px;
}

.footer-img{
    margin-top: 50px;
    margin-right: auto;
}

@media screen and (max-width:900px) {
    .App{
        width:100%;
    }

    .company-logo{
        width:50px;
        margin:0px;
    }

    .tabs-head{
        width:80%;
    }

    .progress{
        display: flex;
        flex-direction: column;
    }

    .web-dev{
        margin-right: 0px;
    }
    
    .Project-title > p{
        text-align: center;
        padding:20px 60px;
        color:rgb(134, 130, 130);
    }

    .Projecttab{
        display:flex;
        flex-direction: column;
        margin: auto;
        width:80%;
        justify-content: center;
        
    }
    
    .Projecttab > a{
        width:100%;
        height: 100%;
    }
   
    .subscribe{
        display:flex;
        flex-direction: column;
        text-align: center;
    }

    .subscribe-text{
        width:100%;
        padding:30px 0px;
    }

    .subscribe-text > p{
        padding:0px 20px;
    }

    .subscribe-btn{
        width:100%;
    }

    .subscribe-btn > input {
        margin: 20px 0px;
    }

    .submit-btn {
        position: absolute;
        top: 159px;
        right: 50px;
    }

    


    
}



@media screen and (max-width:300px),(max-width:400px),(max-width:500px),(max-width:600px) {   
    section{
        display:flex;
        flex-direction: column;
    }

    .content {
        width: 100%;
        box-sizing: border-box;
    }

    .content > h2 {
        margin: 20px;
        font-size: 25px;
    }

    .content > p {
        margin: 20px;
    }

    .Welcome {
        margin: 20px;
    }

    .connect-us {
        margin:0px 5px;
    }

    .animation {
        width: 70%;
        display: flex;
        text-align: center;
    }

    .skills {
        width: 90%;
    }

    .skills-intro > p {
        padding: 10px 30px;
    }

    .Header-img {
        margin-top: 50px;
        width: 100%;
    }

    .tabs-head {
        width: 90%;
    }

    .tabs-name {
        font-size: 10px;
    }

    .active-tabs{
        width:200px;
    }

    .tabs-body {
        width: 100%;
    }

    .Projecttab {
        width: 100%;
        align-items: center;
    }

    .Projecttab > a{
        width:100%;
    }

    .contact {
        display: flex;
        flex-direction: column;
    }

    .contact-anim {
        width: 100%;
        text-align: center;
    }

    .contact-img {
        padding-top: 80px;
    }

    .contact-form {
        width: 80%;
        margin: 30px;
    }

    .subscribe {
        margin-top: 1000px;
    }

    .subscribe-text {
        font-size: 20px;
    }

    .submit-btn{
        position:inherit;
        margin-bottom: 10px;
    }
}



