
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.App{
    width:100%;
    height:100%;
    background-color: black;
    background-image: url('/public/banner-bg.png');
    
}

.Navbar{
    width:100%;
    height: 80px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    align-items: center;
}


.Logo{
    width:40%;
    color:white;
    /* margin-right: auto; */
    margin-left: 50px;
}

.nav{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.social-icon {
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.icon{
    margin: 0 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: red;
}


.connect{
    width: 150px;
    padding:10px;
    height: 60px;
    margin-left: 30px;
    margin-right: 60px;
    background-color: transparent;
    border: 2px solid white;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: 15px;
}

ul{
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    list-style: none;
    
}

ul > a{
    display:inline-block;
    text-decoration: none;
    color:white;
    font-size: 20px;
}

li{
    margin-right: 20px;
}


section{
    width: 100%;
    display:flex;
}

.content{
    width:50%;
    height:100%;
    /* background-color: red; */
    box-sizing: border-box;
    color: white;
}

.animation{
    width:50%;
}

.Header-img{
    margin-top: 120px;
    width:50%;
    margin-left: 200px;
    height:400px;
    width: 400px;
}

.Welcome{
    font-weight: 700;
    font-size: 15px;
    width:200px;
    height:50px;
    margin-left: 50px;
    margin-top: 120px;
    padding:10px;
    text-align: center;
    border:none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content > h2{
    margin-left: 50px;
    margin-top:15px;
    font-size: 60px;
}

.content > p{
    margin-left: 50px;
    margin-top:13px;
    font-size: 13px;
    font-family: 'Courier New', Courier, monospace;
}

.connect-us{
    margin-left:50px;
    font-size: 15px;
    margin-top: 100px;
    font-weight: 700;
}


.skills{
    width:80%;
    margin:0px auto;
    border-radius:30px;
    background-color: rgb(15, 14, 14);
    height:auto;
    margin-top: 50px;
}

.skills-intro > h2{
    text-align: center;
    font-size: 40px;
    padding:25px 0px;
    color:white;
}

.skills-intro > p{
    text-align: center;
    font-size: 15px;
    padding:10px 80px;
    color:rgb(134, 130, 130);
    
}

.progress{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.web-dev{
    display:flex;
    flex-direction: row;
}

.outer{
    height:160px;
    width:160px;
    border-radius:50%;
    /* box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
                -6px -6px 10px -1px rgba(225,225,225,0.7); */
    /* border:1px solid white; */
    padding:20px;
}

.inner{
    height:120px;
    width:120px;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:1px solid white; */
    /* box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
                inset -4px -4px 6px -1px rgba(225,225,225,0.7),
                -0.5px -0.5px 0px rgba(225,225,225,1),
                0.5px 0.5px 0px rgba(0,0,0,0.15),
                0px 12px 10px -10px rgba(0,0,0,0.05); */
}

#number{
    font-weight:700;
    color:white;
    justify-content: center;
}

circle{
    fill:none;
    stroke:url(#GradientColor);
    stroke-width:20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: anim 2s linear forwards;
}

svg{
    position: absolute;
}

.web{
    color:white;
    text-align: center;
    padding: 15px;
}

.Graphic{
    color:white;
    text-align: center;
    padding: 15px;
}

@keyframes anim{
    100%{
        stroke-dashoffset: 100;
    }
}

.container{
    width:100%;
    height:auto;
    background-color: rgb(20, 20, 20);
}

.Project-title > h1{
    text-align: center;
    color:white;
    padding:20px 0px;
}

.Project-title > p{
    text-align: center;
    padding:20px 300px;
    color:rgb(134, 130, 130);
}

.tabs{
    display: flex;
    flex-direction: column;
    width:100%;

}

.tabs-head{
    width:50%;
    display: flex;
    color: white;
    align-items: center;
    justify-content:space-between;
    background-color: rgb(31, 29, 29);
    border:1px solid white;
    box-shadow: 0px 4px 5px rgba(248, 246, 246, 0.1);
    border-radius: 30px;
    padding:10px 25px;
    margin: 20px auto;
}

.tabs-toggle{
    margin:0.5px;
    padding:7px 25px;
    /* background-color: white; */
    border-radius: 20px;
    cursor:pointer; 
    transition: .5s;
}

.tabs-name{
    font-size: 20px;
    color:white;
    font-weight: 500;
}

.tabs-body{
    width:80%;
    margin:0px auto;
    /* background: white; */
    border-radius: 25px;
    padding:30px;
    position:relative;
}

.tabs-title{
    font-weight: 600;
    font-size:24px;
    color:aqua;
    margin-bottom: 20px;
    align-items: center;
}

/* .tabs-text{

} */

.tabs-content{
    display: none;
}

.tabs-toggle.is-active{
    background-color: aqua;
}

.tabs-toggle.is-active.tabs-name{
    color:black;
}

.tabs-content.is-active{
    display:block;
}

.Projecttab{
    display:flex;
    margin: auto;
    width:80%;
    justify-content: center;
    
}

.img1{
    width:38%;
    height:200px;
    border-radius: 30px;
    margin: 10px calc(10%/3);
}
/* .overlay{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity:0;
    transition:opacity 0.4s ease-in-out;
    background:black;
    cursor:pointer;
}

.content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    font-family: montserrat;
    text-align: center;
}

.contain:hover .overlay{
    opacity:0.8;
} */

.contact{
    display:flex;
    width:100%;
    min-height: auto;
    background: linear-gradient(hsl(308, 73%, 35%), hsl(244, 64%, 50%));
}


form > h2{
    font-size: 35px;
    margin-bottom: 10px;
    color:white;
}

.contact-anim{
    width:50%;
}

.contact-form{
    width:100%;
    margin:70px 40px;
}

input[type="text"],input[type="email"],input[type="tel"]{
        width: 100%;
        padding:10px;
        height: 60px;
        margin: 10px 0px;
        border-radius: 5px;
        color: white;
        background-color: transparent;
        border: 1px solid #ffffff;
}

::-webkit-input-placeholder{
    color:white;
    font-family: montserrat;
}

textarea {
    min-height: 120px;
    border-radius:10px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
    box-sizing: border-box;
    min-height: 120px;
    padding: 0.625rem;
    resize: vertical;
    background-color: transparent;
    color:white;
    font-family: montserrat;
    border: 1px solid white;
}

.send-btn{
    margin-top: 30px;
    width:100px;
    height:40px;
    font-weight: 700;
    font-size: 15px;
}

.subscribe{
    width:80%;
    height:auto;
    background-color: white;
    margin:10px auto;
    border-radius: 50px;
    display: flex;
}

.subscribe-text{
    width:40%;
    font-family: montserrat;
    font-size:30px;
    text-align: center;
    /* padding-left:15px; */
    padding:50px 15px;
    font-weight: 700;
}

.subscribe-btn{
    width:60%;
    margin-right: auto;
}

.submit-btn{
    width:150px;
    height:50px;
    border-radius: 25px;
    background: linear-gradient(hsl(308, 73%, 35%), hsl(244, 64%, 50%));
    color:white;
    font-size: 15px;
    border: none;
}

.subscribe-btn > input{
    width:300px;
    border: 1px solid black;
    margin: 70px 30px;
    border-radius: 25px;
    
}

.subscribe-btn > input::-webkit-input-placeholder{
    color:rgb(116, 114, 114);
    padding-left:10px;
}